* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

header {
  width: 100%;
  height: 100px;
  background-color: #333;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 1.3rem;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
}

.logo img {
  height: 50px;
  max-width: 100%;
}

.nav-links {
  height: 100%;
  width: 100%;
}

.nav-links ul {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  font-size: 1.2em;
  color: #fff;
  transition: all 0.3s ease-in-out;
}

.nav-links a:hover {
  cursor: pointer;
  text-decoration: underline;
  color: aqua;
}

#about {
  height: 100%;
  max-width: 100%;
  background-color: #fff;
  display: flex;
  margin: 0 auto;
  padding-top: 50px;
}

.console {
  max-height: 100%;
  max-width: 100%;
  margin: 0 auto;
}

.console img {
  max-width: 100%;
  height: 100%;
}

.info {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 90%;
}

.info h1 {
  color: #1f1f1f;
  display: block;
  font-family: sst, Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  line-height: 61px;
  text-align: center;
  font-size: 40px;
}

.info p {
  color: #8a8a8a;
  display: block;
  font-family: sst, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 35px;
  text-align: center;
  font-size: 20px;
  text-transform: justify;
}

#fetures {
  max-width: 40%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 100px;
  margin-bottom: 100px;
}

#fetures h1 {
  font-family: arial;
  color: #1f1f1f;
  text-align: center;
  font-weight: 300;
  text-decoration: justify;
  padding: 15px;
}

#fetures p {
  font-family: arial;
  color: #8a8a8a;
  padding: 20px;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  text-decoration: justify;
  line-height: 40px;
}

#games-trailer {
  display: flex;
  margin: 0 auto;
  max-width: 59%;
  max-height: 100%;
  background-color: red;
}

#games-trailer iframe {
  width: 100%;
  height: 60vh;
}

#games {
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  padding-top: 50px;
}

.game {
  width: 50%;
  margin: 0 auto;
  padding: 12px;
  text-align: center;
}

.game img {
  max-width: 100%;
}

.game h1 {
  font-family: arial;
  color: #1f1f1f;
  text-align: center;
  font-weight: 300;
  text-decoration: justify;
  padding: 15px;
}

.game p {
  font-family: arial;
  color: #8a8a8a;
  padding: 20px;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  text-decoration: justify;
  line-height: 40px;
}

#Price {
  max-width: 70%;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  flex-wrap: wrap;
  padding: 50px 10px;
  background-color: rgb(128, 160, 201);
  border-radius: 10px;
  position: relative;
}

.price-column {
  width: 30%;
  padding: 5px;
  text-align: center;
  border: 2px solid rgb(132, 149, 153);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
}

.price-column img {
  width: 100%;
  height: 25vh;
  background-size: cover;
}

.price-column > h1 {
  color: #1f1f1f;
  display: block;
  font-family: sst, Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  line-height: 61px;
  text-align: center;
  font-size: 1.5em;
  border-bottom: 2px solid #8a8a8a;
}

.price-column span {
  color: #1f1f1f;
  font-family: sst, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 35px;
  text-align: center;
  font-size: 1.4em;
  text-transform: justify;
}

.tag {
  width: 100%;
  text-align: center;
  position: relative;
  bottom: -112px;
  padding-bottom: 10px;
}

.delux {
  width: 100%;
  text-align: center;
  position: relative;
  bottom: -1px;
  padding: 2px;
}

.tag h1 {
  color: #1f1f1f;
  font-family: sst, Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  text-align: center;
  font-size: 1.5em;
}

.tag input[type="button"] {
  margin: 0 auto;
  width: 90%;
  font-family: sst, Arial, sans-serif;
  padding: 25px;
  font-size: 2rem;
  line-height: 40%;
  background-color: #f2f1ef;
  color: #1f1f1f;
  border-radius: 20px;
}
#form {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15px;
}
#submit {
  max-width: 150px;
  width: 100%;
  height: 40px;
  margin: 15px;
  text-align: center;
  color: #333;
  background-color: #f1c40f;
  font-size: 1.2rem;
}

@media only screen and (min-width: 240px) and (max-width: 1024px) {
  .nav-links {
    height: auto;
    top: 100px;
    position: absolute;
    left: -100%;
    transition: 0.5s ease-in-out;
  }

  .nav-links ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #333;
  }
  .nav-links li {
    padding: 10px;
    border-bottom: 1px solid aquamarine;
    width: 100%;
    text-align: center;
    font-size: 1em;
    font-family: "Poppins", sans-serif;
  }

  .burger {
    position: absolute;
    left: 10%;
    width: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

  }
  .burger:hover{
    opacity: 0.8;
  }

  .burger div {
    height: 4px;
    width: 100%;
    background-color: #fff;
    margin-top: 5px;
    display: block;
    transition: 0.2s ease-in;
  }
  .toggle .line1 {
    transform: rotate(45deg) translate(6px, 2px);
    transition: 0.2s ease-in;
  }

  .toggle .line2 {
    transform: translateX(-140px);
  }

  .toggle .line3 {
    transform: rotate(-45deg) translate(10px, -6px);
    transition: 0.2s ease-in;
  }

  .active {
    animation: nav-move 0.5s forwards ease-in-out;
    left: 0;
  }
  @keyframes nav-move {
    from {
      transform: translateX(-100%);
    }

    to {
      transform: translateX(0);
    }
  }
  .console {
    width: 100%;
    height: 70%;
    margin: 0 auto;
  }
  #about {
    height: 100%;
    max-width: 100%;
    background-color: #fff;
    display: flex;
    margin: 0 auto;
    padding-top: 60px;
  }
  .info h1 {
    color: #1f1f1f;
    display: block;
    font-family: sst, Arial, sans-serif;
    font-style: normal;
    font-weight: 300;
    line-height: 61px;
    text-align: center;
    font-size: 2em;
  }

  .info p {
    color: #8a8a8a;
    font-family: sst, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 35px;
    text-align: center;
    font-size: 1.1em;
    text-transform: justify;
  }

  #fetures h1 {
    font-family: arial;
    color: #1f1f1f;
    text-align: center;
    font-weight: 300;
    text-decoration: justify;
    padding: 15px;
    font-size: 1.5em;
  }

  #fetures p {
    font-family: arial;
    color: #8a8a8a;
    padding: 20px;
    font-weight: 400;
    font-size: 1em;
    text-align: center;
    text-decoration: justify;
    line-height: 40px;
  }

  #games-trailer iframe {
    width: 100%;
    height: 40vh;
  }

  .delux input[type="button"] {
    margin: 0 auto;
    width: 90%;
    font-family: sst, Arial, sans-serif;
    font-size: 2rem;
    background-color: #f2f1ef;
    color: #1f1f1f;
    border-radius: 20px;
  }


  #submit {
    width: 50%;
    height: 50px;
    font-size: 20px;
  }

  .console img {
    max-width: 100%;
    max-height: 100%;
  }

  #games {
    width: 85%;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    display: grid;
  }

  .game {
    width: 100%;
    margin: 0 auto;
  }

  .game img {
    max-width: 100%;
  }

  .info {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 97%;
  }

  #fetures {
    max-width: 95%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-top: 100px;
    margin-bottom: 20px;
  }

  #games-trailer {
    display: flex;
    margin: 0 auto;
    min-width: 95vw;
    height: 90%;
  }
  
}
#email {
  width: 250px;
  height: 40px;
  font-size: 18px;
  text-align: center;
}

.container {
  margin: 0 auto;
  padding: 50px 0 0;
  max-width: 960px;
  width: 100%;
}

.panel {
  background-color: #fff;
  border-radius: 10px;
  padding: 15px 25px;
  position: relative;
  width: 100%;
  z-index: 10;
}

.pricing-table {
  box-shadow: 0px 10px 13px -6px rgba(0, 0, 0, 0.08), 0px 20px 31px 3px rgba(0, 0, 0, 0.09), 0px 8px 20px 7px rgba(0, 0, 0, 0.02);
  display: flex;
  flex-direction: column;
}

@media (min-width: 900px) {
  .pricing-table {
    flex-direction: row;
  }
}

.pricing-table * {
  text-align: center;
  text-transform: uppercase;
}

.pricing-plan {
  border-bottom: 1px solid #e1f1ff;
  padding: 25px;
}

.pricing-plan:last-child {
  border-bottom: none;
}

@media (min-width: 900px) {
  .pricing-plan {
    border-bottom: none;
    border-right: 1px solid #e1f1ff;
    flex-basis: 100%;
    padding: 25px 50px;
  }

  .pricing-plan:last-child {
    border-right: none;
  }
}

.pricing-img {
  margin-bottom: 25px;
  max-width: 100%;
}
.pricing-plan:nth-child(1) img{
  height: 130px;
  max-width: 100%;
  margin-bottom: 110px;
}
.pricing-plan:nth-child(2) img{
  height: 130px;
  max-width: 100%;
  margin-bottom: 110px;
}
.pricing-plan:nth-child(3) img{
  height: 130px;
  max-width: 100%;
  margin-bottom: 110px;
}
.pricing-header {
  color: #888;
  font-weight: 600;
  letter-spacing: 1px;
}

.pricing-features {
  color: #016FF9;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 50px 0 25px;
}

.pricing-features-item {
  border-top: 1px solid #e1f1ff;
  font-size: 12px;
  line-height: 1.5;
  padding: 15px 0;
}

.pricing-features-item:last-child {
  border-bottom: 1px solid #e1f1ff;
}

.pricing-price {
  color: #016FF9;
  display: block;
  font-size: 32px;
  font-weight: 700;
}

.pricing-button {
  border: 1px solid #9dd1ff;
  border-radius: 10px;
  color: #348EFE;
  display: inline-block;
  margin: 25px 0;
  padding: 15px 35px;
  text-decoration: none;
  transition: all 150ms ease-in-out;
}

.pricing-button:hover,
.pricing-button:focus {
  background-color: #e1f1ff;
}

.pricing-button.is-featured {
  background-color: #48aaff;
  color: #fff;
}

.pricing-button.is-featured:hover,
.pricing-button.is-featured:active {
  background-color: #269aff;
}